/** @format */

footer {
  display: flex;
  justify-content: space-around;

  background: #37415a;
  color: #ffffff;
  padding: 40px 20px;
}
footer a {
  text-decoration: none;
  color: #81807d;
}
footer h3 {
  color: #ffffff;
}

/* Styling for the social media SVG icons */
.socialMedia__link svg {
  margin-top: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px;
}

.social_icons {
  display: flex;
  flex-direction: column;
}
.social_icons a {
  margin: 0 10px;
  color: #ffffff;
  /* font-size: 18px; */
}

.social_icons a:hover {
  color: #ff6600;
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links a:hover {
  color: #ff6600;
}
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #81807d;

  /* Responsive Design */

  footer {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .social_icons,
  .links,
  .contact_info {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 10px;
  }

  .links {
    font-size: 14px;
  }

  .social_icons a {
    font-size: 18px;
  }

  .contact_info span {
    font-size: 12px;
  }
}
